.formDiv{
    background-color: #161C1F;
}



h1{
    color: white;
    font-family: 'Open Sans';
    font-size: 18px;
    padding-left: 17px;
}

.form{
    display: flex;
    width: 100%;
    background-color: #161C1F;
    color: black;
    padding:6px;
    border-radius: 10px;
    border-color: #212121;
}