@import '../../main-styles.scss';

.budget-item-section{
    display: flex;
    background-color: #18181B;
    color: white;
    padding: 4%;
    height: 100%;
    
    //Vertically and Horizontally center flex children
    justify-content: center;
    align-items: center;

    .budget-items-container{
        display: flex;
        max-width: 680px;
        width: 100%;
        height: 100%;

        .income-column, .expenses-column{
            display: flex;
            flex-basis: 0; //columns to be the same size, regardless the content
            flex-direction: column;
            flex-grow: 1; //colums will take whole available space

            .title{
                background-color: #18181B;
                color: rgb(230, 230, 230);
                font-family: 'Open sans';
                font-size: 17px;
                font-weight: bold;
            }

            h1{
                font-family: 'Open sans';
                color: rgb(230, 230, 230);
                padding-left: 1%;
                font-size: 17px;
                padding-top: 15px;
            }

            .budget-items{
                display: flex;
                flex-direction: column;

                margin-top: 15px;
            }

            .income-column{
                margin-right: 35px;
            }
        }
    }
}
