<ion-content class="content">
    <ion-title routerLink="angular" class="budget">
      <h2>EU {{ this.dataService.totalBudget }}</h2>
    </ion-title>

    <!--<section class="incomeexpenses">
      <div class="blue">EU {{ totalEarnings }}</div><div> Total Earnings</div>
      <div class="red">EU {{ totalExpenses }}</div><div> Total Expenses</div>
    </section>-->

<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="showModal()"><ion-icon name="logo-usd"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button (click)="showGoalsModal()"><ion-icon name="stats-chart"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>

  <!--<div class="area" [chart]="areaChart" ></div>-->

  <!-- <div class="title">New Item</div>
  <section class="add-item-section">
    <div class="add-item-container"> -->
      <!-- <app-add-item-form style="padding: 20px;" (formSubmit)="this.dataService.addItem($event)"></app-add-item-form> $event - special variable, get the value of the event and pass it to its method.The value of this event is the BudgetItem  -->
    <!-- </div>
  </section>  -->


<div class="content">
  <div class="title">Insignia Tier</div>
  <section class="progresssection1">
    <div *ngIf="this.dataService.totalBudget<100" class="bars1">
      <div class="trophy1">
      <img style="width: 65px; padding-top: 15px;" class="insigniaimages" src="../../assets/Templar.png" class="logo">
      </div>
      <div class="percentage1">
      <section class="barstext1">Templar</section>
      <div class="description1">First step into Insignia! A member of the knights templar. </div>
    </div>
    <div class="progress1">#6</div>
    </div>

    <div *ngIf="this.dataService.totalBudget>=100 && this.dataService.totalBudget<500" class="bars1">
      <div class="trophy1">
      <img style="width: 65px; padding-top: 8px;" class="insigniaimages" src="../../assets/Templar 1st Class.png" class="logo">
      </div>
      <div class="percentage1">
      <section class="barstext1">Templar 1st Class</section>
      <div class="description1">Ranking Up! Only those from noble families could become noble kights. </div>
    </div>
    <div class="progress1">#5</div>
    </div>

    <div *ngIf="this.dataService.totalBudget>=500 && this.dataService.totalBudget<1000" class="bars1">
      <div class="trophy1">
      <img style="width: 55px; padding-top: 18px;" class="insigniaimages" src="../../assets/Officer.png" class="logo">
      </div>
      <div class="percentage1">
      <section class="barstext1">Officer</section>
      <div class="description1">You now hold a position of authority, especially one with a commission! </div>
    </div>
    <div class="progress1">#4</div>
    </div>

    <div *ngIf="this.dataService.totalBudget>=1000 && this.dataService.totalBudget<10000" class="bars1">
      <div class="trophy1">
      <img style="width: 57px; padding-top: 17px;" class="insigniaimages" src="../../assets/Commander.png" class="logo">
      </div>
      <div class="percentage1">
      <section class="barstext1">Commander</section>
      <div class="description1">Second most senior grade of seven orders of chivalry. Impressive!</div>
    </div>
    <div class="progress1">#3</div>
    </div>

    <div *ngIf="this.dataService.totalBudget>=10000 && this.dataService.totalBudget<100000" class="bars1">
      <div class="trophy1">
      <img style="width: 48px; padding-top: 14px;" class="insigniaimages" src="../../assets/GrandCross.png" class="logo">
      </div>
      <div class="percentage1">
      <section class="barstext1">Grand Cross</section>
      <div class="description1">Leader of the knights chivalry. Highest rank in Insignia!</div>
    </div>
    <div class="progress1">#2</div>
    </div>

    <div *ngIf="this.dataService.totalBudget>=100000" class="bars1">
      <div class="trophy1">
      <img style="width: 60px; padding-top: 15px;" class="insigniaimages" src="../../assets/Legend.png" class="logo">
      </div>
      <div class="percentage1">
      <section class="barstext1">Legend</section>
      <div class="description1">One and only living notorious legend. Admired by a lot!</div>
    </div>
    <div class="progress1">#1</div>
    </div>
    </section>

  
    <div class="title">Financial Status</div>
    <div class="incomeandexpenses">
      <div class="column">
        <div class="thumbsicon">
        <ion-icon  class="thumbsdown" name="thumbs-down"></ion-icon>
        <div class="expenditures">EXPENDITURES</div>
        <div class="total">Total Amount</div>
        <div class="amount">of Expenses</div>
        <div class="border">
        <div class="expensesamount">-€{{ this.dataService.totalExpense}}</div>
      </div>
      </div>
      </div>
  
      <div class="column">
        <div class="thumbsicon">
        <ion-icon  class="thumbsup" name="thumbs-up"></ion-icon>
        <div class="expenditures">EARNINGS</div>
        <div class="total">Total Amount</div>
        <div class="amount">of Income</div>
        <div class="border">
        <div class="incomeamount">€{{ this.dataService.totalIncome }}</div>
      </div>
      </div>
      </div>
    </div>

    <div class="goalsdiv">
  <div class="projectedTitle">Projected Goals</div>
  </div>

  <section class="progresssection">
    <div class="bars" (click)="weeklyProgresss()">
      <div class="progressicon">
        <div *ngIf="this.dataService.totalBudget<this.weeklyValue && this.dataService.totalBudget>0" class="textdiv"><div>{{this.dataService.totalBudget/this.weeklyValue*100 | number : '1.0-0'}}%</div></div>
        <div class="textdiv2" *ngIf="this.weeklyValue!=0 && this.dataService.totalBudget>this.weeklyValue || this.dataService.totalBudget/this.weeklyValue*100 == 100"><div class="checkmarkDiv"><ion-icon class="checkmark" name="checkmark-outline"></ion-icon></div></div>
        <div class="textdiv" *ngIf="this.weeklyValue == 0 || this.dataService.totalBudget<=0"><div>0%</div>
      </div></div>
      <div>
      <section class="barstext">
        <div>Weekly Goal:</div>
        <div class="projectedNumber">€{{ this.weeklyValue }}</div>
      </section>
      <div class="progressbar">
        <progress [value]="this.dataService.totalBudget" max="{{ weeklyValue }}"></progress>
      </div>
    </div>
    </div>

    <div class="bars" (click)="monthlyProgresss()">
      <div class="progressicon">
        <div *ngIf="this.dataService.totalBudget<this.monthlyValue && this.dataService.totalBudget>0" class="textdiv"><div>{{this.dataService.totalBudget/this.monthlyValue*100 | number : '1.0-0'}}%</div></div>
        <div class="textdiv2" *ngIf="this.monthlyValue!=0 && this.dataService.totalBudget>this.monthlyValue || this.dataService.totalBudget/this.monthlyValue*100 == 100"><div class="checkmarkDiv"><ion-icon class="checkmark" name="checkmark-outline"></ion-icon></div></div>
        <div class="textdiv"*ngIf="this.monthlyValue == 0 || this.dataService.totalBudget<=0" ><div>0%</div>
      </div></div>
      <div>
        <section class="barstext2">
          <div>Monthly Goal:</div>
          <div class="projectedNumber">€{{ this.monthlyValue }}</div>
        </section>
      <div class="progressbar">
        <progress [value]="this.dataService.totalBudget" max="{{ monthlyValue }}"></progress>
      </div>
    </div>
    </div>

    <div class="bars" (click)="yearlyProgresss()">
      <div class="progressicon">
        <div *ngIf="this.dataService.totalBudget<this.yearlyValue && this.dataService.totalBudget>0" class="textdiv"><div>{{this.dataService.totalBudget/this.yearlyValue*100 | number : '1.0-0'}}%</div></div>
        <div class="textdiv2" *ngIf="this.yearlyValue!=0 && this.dataService.totalBudget>this.yearlyValue || this.dataService.totalBudget/this.yearlyValue*100 == 100"><div class="checkmarkDiv"><ion-icon class="checkmark" name="checkmark-outline"></ion-icon></div></div>
        <div class="textdiv"*ngIf="this.yearlyValue == 0 || this.dataService.totalBudget<=0"><div>0%</div>
      </div></div>
      <div>
        <section class="barstext3">
          <div>Yearly Goal:</div>
          <div class="projectedNumber">€{{ this.yearlyValue }}</div>
        </section>      <div class="progressbar">
        <progress [value]="this.dataService.totalBudget" max="{{ yearlyValue }}"></progress>
      </div>
    </div>
    </div>
    
    <!-- <div class="inputProgress">
      <div class="progress">
      <div class="progresstext">Weekly Projected Goal: €{{ WeeklyVal }}</div><br>
      <div class="inputdiv"><input class="inputbox" type="number" placeholder=" Amount" #box2/>
    <button class="progressButton" (click)="getWeeklyVal(box2.value)"><ion-icon name="play-outline" style="width: 30px;"></ion-icon></button>
  </div>
  </div>
  </div> -->
  </section>
  

  <!-- <section class="progresssection">
    <div class="bars">
      <section class="barstext">Monthly Goal</section>
      <div class="progressbar">
        <progress [value]="this.dataService.totalBudget" max="{{ MonthlyVal }}"></progress>
      </div>
    </div>
    <div class="inputProgress">
      <div class="progress">
      <div class="progresstext">Monthly Projected Goal: €{{ MonthlyVal }}</div><br>
    <div class="inputdiv"><input class="inputbox" type="number" placeholder=" Amount" #box1/>
    <button class="progressButton" (click)="getMonthlyVal(box1.value)"><ion-icon name="play-outline" style="width: 30px;"></ion-icon></button>
  </div>
  </div>
  </div>
  </section>

  <section class="progresssection">
    <div class="bars">
      <section class="barstext">Yearly Goal</section>
      <div class="progressbar">
        <progress [value]="this.dataService.totalBudget" max="{{ currentVal }}"></progress>
      </div>
    </div>

    <div class="inputProgress">
      <div class="progress">
      <div class="progresstext">Yearly Projected Goal: €{{ currentVal }}</div><br>
      <div class="inputdiv"><input class="inputbox" type="number" placeholder=" Amount" #box/>
    <button class="progressButton" (click)="getVal(box.value)"><ion-icon name="play-outline" style="width: 30px;"></ion-icon></button>
  </div>
  </div>
  </div>
  </section> -->

  </div>


</ion-content>

<router-outlet></router-outlet>